<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TimeMerge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeMerge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimeMerge.Properties.Settings>
            <setting name="DailyWorkHours" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsBalanceASummaryThroughAllMonths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MailToRecipients" serializeAs="String">
                <value>rvanovcanova@allplan.com</value>
            </setting>
            <setting name="MailCcRecipients" serializeAs="String">
                <value>mhudec@allplan.com</value>
            </setting>
            <setting name="DeskBandShowsMonthBalance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsHomeOfficeDetectionOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsWebAccessOn" serializeAs="String">
                <value>True</value>
            </setting>
        </TimeMerge.Properties.Settings>
    </userSettings>
    <log4net>
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <param name="File" value="TimeMergeLog.txt" />
            <param name="AppendToFile" value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="&#xD;&#xA;[Begin]&#xD;&#xA;" />
                <param name="Footer" value="[End]&#xD;&#xA;" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>

        <!--
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="TimeMergeLog.txt" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="1MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="&#13;&#10;[Begin]&#13;&#10;" />
                <param name="Footer" value="[End]&#13;&#10;" />
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
        -->
        
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="[Begin]\r\n" />
                <param name="Footer" value="[End]\r\n" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>

        <root>
            <level value="INFO" />
            <appender-ref ref="LogFileAppender" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><applicationSettings>
        <TimeMerge.Properties.Settings>
            <setting name="UrlCheckNewVersion" serializeAs="String">
                <value>https://raw.githubusercontent.com/kurattila/TimeMerge/master/UrlCheckNewVersion</value>
            </setting>
            <setting name="UrlWebDav" serializeAs="String">
                <value>timemerge.nemetschek.sk</value>
            </setting>
            <setting name="WebDavGenericLogin" serializeAs="String">
                <value>timemerge</value>
            </setting>
            <setting name="WebDavGenericHashPath" serializeAs="String">
                <value>\\slovensko2\users\TimeMerge\WebDavInfo.hash</value>
            </setting>
        </TimeMerge.Properties.Settings>
    </applicationSettings>
</configuration>
